<div class="container">
  <div class="row">
	<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
	  <div class="top-text">
	<h1>Welcom to
		  <b><i class="fas fa-book"></i>Bookers!!</b>
		</h1>
		</div>
  </div>
 </div>
  
</div>